body {
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  padding: 5px;
}

.page-subtitle {
    color: crimson;
}

.navbar {
  margin-bottom: 20px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.side-boxes {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    border-color: #ddd;
    border-width: 1px;
}

.side-boxes {
    padding: 9px 14px;
    margin-bottom: 14px;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    border-color: #ddd;
    border-width: 1px;
}

.date{
  text-align: right;
}

img.center {
    display: block;
    margin: 0 auto;
}

h4.title-img {
    text-align: center;
}

.zen {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0.75em;
  color: black;
}

h2.post_detail_title {
    font-size: 30px;
}
div.post_detail {
    background-color: gainsboro;
}
pre {
    margin: 0px 30px 2px;
}

h6.date {
    font-weight: bold;
}

div.titles{
    padding: 0px 10px;
}

ul.post_detail_ul {
  list-style-type: none;
}

img.pic-link {
    width: 20px;
}

li.grey {
    background-color: #e2e2e2;
    padding-bottom: 15px;
}

div.menu {
    padding: 0px;
}

.post_detail_title {
    text-align: center;
}

.tag-item {
     list-style-type: none;
}
.tags {
    padding-left: 0px;
}

a.size-1 { font-size: 1.1em }
a.size-2 { font-size: 1.2em }
a.size-3 { font-size: 1.3em }
a.size-4 { font-size: 1.4em }
a.size-5 { font-size: 1.5em }
a.size-6 { font-size: 1.6em }
a.size-7 { font-size: 1.7em }
a.size-8 { font-size: 1.8em }
a.size-9 { font-size: 1.9em }
a.size-10 { font-size: 2em }

