{% load i18n static %}

{% block content %}

  <div class="flex flex-wrap justify-center subpixel-antialiased p-4 tracking-wide">

    <!-- Back Link -->
    <div class="w-full text-left mb-4">
      <a
        hx-get="{% url 'post_list' %}"
        hx-push-url="{% url 'post_list' %}"
        hx-target="#content"
        href="{% url 'post_list' %}"
        class="text-blue-500 hover:text-blue-700">
        ← {% translate 'Back to Post List' %}
      </a>
    </div>

    <!-- Main Post Content -->
    <div class="w-full ">

      <!-- Post Detail -->
        {% if post.published_date %}
          <small class="text-sm ">
            <time class="text-gray-400" datetime="{{ post.published_date|date:"Y-m-d" }}">{{ post.published_date|date:"F j, Y" }}</time>
            |
            <span class="text-gray-400">
              {% translate 'Author'%}: {{ post.author.first_name }} {{ post.author.last_name }}
            </span>
          </small>
        {% endif %}

        <h3 class="text-3xl font-bold text-purple-400 pb-4">{{ post.title }}</h3>

        {% autoescape off %}
          {{ post.text }}
        {% endautoescape %}

    </div>

    <!-- Related Posts -->
    <div class="h-0.5 bg-pink-500 my-4 w-full"></div>

    <div class="w-full text-center">
      Related Posts
    </div>

    <div class="w-full" id="related-post-container" hx-get="{% url 'related_posts' post_id=post.id %}" hx-trigger="load">
      <!-- Content will be loaded here when the page loads -->
    </div>

  </div>

  <script src="{% static 'blog/js/codeHighlight.js' %}"></script>

{% endblock %}
