{% load crispy_forms_tags i18n %}

<h1 class="text-green-400 pt-12 text-4xl text-center font-bold mb-4">
  Blog
  {% if tag %}
    <span class="text-2xl font-normal">|</span>
    <span class="text-2xl font-normal">{{ tag }}</span>
  {% else %}
    {% translate 'or just public notes' %}
  {% endif %}
</h1>

{% for post in posts %}
  <article class="p-4 pb-8 rounded-lg shadow-md flex flex-col sm:flex-row{% if forloop.counter|divisibleby:2 %} sm:flex-row-reverse{% endif %}">
    {% if post.image %}
    <div class="mb-4 sm:mb-0 w-full sm:w-2/5 md:w-1/3 lg:w-1/4 xl:w-1/5{% if forloop.counter|divisibleby:2 %} sm:ml-4{% else %} sm:mr-4{% endif %}">
      <img
        src="{{ post.image.url }}"
        alt="{{ post.title }} image"
        class="object-cover w-full h-auto"
      />
    </div>
    {% endif %}
    <div class="flex-1">
      <a href="{{post.get_absolute_url}}" class="text-xl mb-2 font-bold text-purple-400 hover:text-orange-400 transition duration-300">
        {{ post.title }}
      </a>
      <p class="mb-2 text-green-400"><time datetime="{{ post.published_date|date:"Y-m-d" }}">{{ post.published_date|date:"F j, Y" }}</time></p>
      <p class="mb-4">{{ post.summary }}</p>
      <div class="tags">
          {% for tag in post.tags.all %}
          <span class="bg-blue-500 text-white px-2 py-1 rounded-full text-sm mr-2 hover:bg-orange-500">
            <a href="{% url 'bytag' tag=tag %}" class="text-white">{{tag}}</a>
          </span>
          {% endfor %}
      </div>
    </div>
  </article>
{% empty %}
  <p class="text-lg text-center gray-100"> Empty posts </p>
{% endfor %}

{% include 'blog/extras/paginator.html' %}
