{% load i18n %}

<div class="w-full p-4">

  <!-- Related Posts -->
  <ul class="">
    <li class="">
        <h3 class="text-purple-400">{% translate 'Related posts'%}</h3>
    </li>
    {% for post in posts %}
    <li class="">
        <a href="{{ post.get_absolute_url }}" class="text-purple-400 hover:dracula-hover">
            <span class="gray-100">
                {{ post.title }}
            </span><br>
            <small class="text-green-400">
                {% translate 'Published' %}: {{post.published_date }}
            </small>
        </a>
    </li>
    {% empty %}
      <p class="gray-100">{% translate 'Nothing yet!' %}</p>
    {% endfor %}
  </ul>


</div>
