{% load i18n %}

<div class="flex flex-wrap justify-center items-center">
  <!-- Left arrow -->
  <a
  class="flex items-center flex-shrink-0 w-auto py-2 px-4 border rounded {% if not page_obj.has_previous %}opacity-50 cursor-not-allowed{% else %}bg-purple-400 hover:bg-pink-400{% endif %} mt-2 md:mt-0"
  {% if page_obj.has_previous %}href="{% url 'related_posts' post_id %}?page={{ page_obj.previous_page_number }}" hx-get="{% url 'related_posts' post_id %}?page={{ page_obj.previous_page_number }}"{% endif %}
  hx-target="#related-post-container">
    {% translate "Previous"%}&nbsp;
    <i class="fas fa-chevron-left mr-2"></i>
  </a>

  <!-- Cards container -->
  <div class="lg:flex md:flex-wrap flex-wrap">
    {% for post in related_posts %}
        <div class="card lg:m-2 m-1 p-2 bg-gray-200 w-56 h-44 bg-gray-700 rounded-xl shadow-md overflow-hidden hover:bg-pink-400 flex flex-col justify-center items-start"> <!-- Removed justify-between and added justify-center and items-start -->
            <h2 class="text-md font-semibold line-clamp-2 mb-2">{{ post.title }}</h2> <!-- Reduced the margin to mb-2 -->
            <a href="{{ post.get_absolute_url }}" class="text-sm text-blue-500 hover:underline">Read more</a>
        </div>
    {% endfor %}
  </div>

  <!-- Right arrow -->
  <a
  class="flex items-center flex-shrink-0 w-auto py-2 px-4 border rounded {% if not page_obj.has_next %}opacity-50 cursor-not-allowed{% else %}bg-purple-400 hover:bg-pink-400{% endif %} mt-2 md:mt-0"
  {% if page_obj.has_next %}href="{% url 'related_posts' post_id %}?page={{ page_obj.next_page_number }}" hx-get="{% url 'related_posts' post_id %}?page={{ page_obj.next_page_number }}"{% endif %}
  hx-target="#related-post-container">
    {% translate "Next"%}&nbsp;
    <i class="fas fa-chevron-right mr-2"></i>
  </a>
</div>
