{% load i18n %}

<div class="flex justify-between items-center">

  <!-- Left div (conditional) -->
  {% if posts.has_previous %}
    <a
      class="flex items-center flex-shrink-0 w-auto py-2 px-4 border rounded bg-purple-400 hover:bg-pink-400"
      href="?related_page={{ posts.previous_page_number }}"
      hx-get="{{ request.path }}?related_page={{ posts.previous_page_number }}"
      hx-target="#content">
        <i class="fas fa-chevron-left mr-2"></i>
        {% translate "Previous"%}
    </a>
  {% else %}
    <div class="w-10"></div> <!-- Placeholder to keep the center alignment -->
  {% endif %}

  <!-- Center div -->
  <div class="flex-grow flex justify-center space-x-4">
    {% for post in posts %}
    <div class="card flex-shrink-0 w-1/4 bg-gray-700 rounded-xl shadow-md overflow-hidden">
        <div class="p-8">
            <h2 class="text-sm font-semibold">{{ post.title }}</h2>
            <a href="{{ post.get_absolute_url }}" class="text-xs text-cyan-400 hover:underline mt-2">Read more</a>
        </div>
    </div>
    {% endfor %}
  </div>

  <!-- Right div (conditional) -->
  {% if posts.has_next %}
    <a
      class="flex items-center flex-shrink-0 w-auto py-2 px-4 border rounded bg-purple-400 hover:bg-pink-400"
      href="?related_page={{ posts.next_page_number }}"
      hx-get="{{ request.path }}?related_page={{ posts.next_page_number }}"
      hx-target="#content">
        {% translate "Next"%}&nbsp;
        <i class="fas fa-chevron-right mr-2"></i>
    </a>
  {% else %}
    <div class="w-10"></div> <!-- Placeholder to keep the center alignment -->
  {% endif %}
</div>
