repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args: [--autofix]
      - id: mixed-line-ending
      - id: check-added-large-files
        args: ['--maxkb=4000']
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        exclude: ^.*htmx\.min\..*\.js$

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        name: validate-pyproject

  - repo: https://github.com/adamchainz/djade-pre-commit
    rev: "1.7.0"
    hooks:
    -   id: djade
        args: [--target-version, "5.1"]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.29.1"
    hooks:
    -   id: django-upgrade

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py313]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.11'
    hooks:
      - id: ruff-check
        args: ["--fix", "--target-version", "py313"]
      - id: ruff-format
        args: ["--target-version", "py313"]
