appdirs==1.4.3
asn1crypto==0.22.0
attrs==19.3.0
cffi==1.13.2
coreapi==2.3.1
coreschema==0.0.4
cryptography==2.7
decorator==4.0.11
django~=3.0.2
django-anymail==7.0
django-autoslug==1.9.4
django-bootstrap3==11.0.0
django-ckeditor==5.7.1
django-crispy-forms==1.8.0
django-extensions==2.2.5
django-filter==2.2.0
django-js-asset==1.0.0
django-jsonview==0.4.3
django-money==1.0
django-robots~=4.0
django-simple-captcha==0.5.12
django-solo==1.1.3
djangorestframework==3.10.3
enum34==1.1.6
fancycompleter==0.8
future==0.16.0
gunicorn==19.9.0
idna==2.5
ipaddress==1.0.18
ipython==7.9.0
ipython-genutils==0.2.0
itypes==1.1.0
jinja2>=2.10.1
markdown==3.1.1
markupSafe==1.0
meld3==1.0.2
oauthlib==3.0.1
olefile==0.44
packaging==16.8
pathlib2==2.3.3
pexpect==4.7.0
pickleshare==0.7.4
pillow>=6.0.0
prompt-toolkit==2.0.10
psycopg2==2.8.4
pgcli~=2.2.0
ptyprocess==0.5.1
py-moneyed==0.8.0
py==1.5.2
pyasn1==0.2.3
pycparser==2.17
pygments==2.4.2
pyparsing==2.2.0
pytz==2019.1
requests-oauthlib==1.2.0
requests==2.21.0
scandir==1.5
sentry-sdk==0.13.1
simplegeneric==0.8.1
simplejson==3.16.0
six==1.11.0
sqlparse==0.3.0
swapper==0.1.1
termcolor==1.1.0
traitlets==4.3.2
typing==3.6.4
uritemplate==3.0.0
wcwidth==0.1.7
werkzeug==0.16.0
wmctrl==0.3
yahoo-finance==1.4.0
