appdirs==1.4.3
asn1crypto==0.22.0
backports.shutil-get-terminal-size==1.0.0
cffi==1.10.0
coverage==4.3.4
cryptography==1.8.1
decorator==4.0.11
Django==1.11.3
django-anymail==0.10
django-autoslug==1.9.3
django-bootstrap3==8.2.2
django-ckeditor==5.3.0
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-filter==1.0.4
django-jsonview==0.4.3
django-money==0.11.2
django-nocaptcha-recaptcha==0.0.19
django-robots==3.0
django-seo2==1.0.1
django-solo==1.1.2
djangorestframework==3.6.3
enum34==1.1.6
Fabric==1.13.2
future==0.16.0
gunicorn==19.6.0
idna==2.5
ipaddress==1.0.18
ipython==5.3.0
ipython-genutils==0.2.0
Markdown==2.6.8
meld3==1.0.2
mysqlclient==1.3.10
oauthlib==2.0.2
olefile==0.44
packaging==16.8
paramiko==2.1.2
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.14
ptyprocess==0.5.1
py==1.4.34
py-moneyed==0.7.0
pyasn1==0.2.3
pycparser==2.17
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.1.3
pytest-django==3.1.2
pytest-sugar==0.8.0
python-twitter==3.2.1
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
scandir==1.5
simplegeneric==0.8.1
simplejson==3.10.0
six==1.10.0
sqlparse==0.2.3
swapper==0.1.1
termcolor==1.1.0
traitlets==4.3.2
tweepy==3.5.0
twitter-monitor==0.3.0
twython==3.4.0
wcwidth==0.1.7
yahoo-finance==1.4.0
django-rest-framework==0.1.0
coreapi==2.3.1

