#pgcli
-r requirements.txt
black>=19.10b0
codecov
coverage
factory_boy
flake8
flake8-assertive
flake8-bugbear
flake8-comprehensions
flake8-django
ipython-sql
pdbpp>=0.9.2
pluggy>=0.7
pyinstrument
pytest-cov
pytest-django
pytest-mock
pytest-sugar
pytest-xdist
pytest
termcolor
wdb
