aws:elasticbeanstalk:application:environment:
  AWS_REGION: '`{"Ref" : "AWS::Region"}`'
  DJANGO_CONFIGURATION: Amazon
  DJANGO_SETTINGS_MODULE: website.settings
  DJANGO_DROPBOX_ROOT_PATH: /
  DJANGO_DROPBOX_TIMEOUT: 100
  DJANGO_EMAIL_BACKEND: anymail.backends.mailgun.EmailBackend
  DJANGO_LOG_LEVEL: ERROR
