/* styles.css */

.sevilla-color {
  background-color: #FFAB60;
}

/* custom.css */
.purple-dracula {
  color: #bd93f9;
}
.purple-dracula-hover:hover {
  color: #bd93f9 !important;
}
.dracula-bg { background-color: #282a36; }
.dracula-title { color: #bd93f9;}
.dracula-date {
  color: #50fa7b;
}

.dracula-text { color: #f8f8f2; }
.dracula-border { border-color: #6272a4; }
.dracula-border-left { border-left-color: #6272a4; }
.nav-link {
  transition: color 0.3s ease;
}
.nav-link:hover { color: #bd93f9; }
purpura-bg { background-color: #bd93f9; }
purpura-color { color: #bd93f9; }
.active-link {
  color: #50fa7b;
}
.green { color: #50fa7b; }
.pink { color: #ff79c6; }
.orange { color: #ffb86c; }
.purple { color: #bd93f9; }
.dg-grey { color: #f8f8f2; }

@keyframes bulbFade {
  0% { color: #f8f8f2; }   /* Dracula foreground color */
  20% { color: #50fa7b; }  /* Green */
  40% { color: #ff79c6; }  /* Pink */
  60% { color: #bd93f9; }  /* Purple */
  80% { color: #ffb86c; }  /* Orange */
  100% { color: #f8f8f2; } /* Back to foreground color */
}

.hover-bg-orange:hover {
  background-color: #ffb86c;
  transition: color 0.3s ease;
}

.hover-orange:hover {
  color: #ffb86c;
  transition: color 0.3s ease;
}

.bulb-fade {
  animation: bulbFade 5s infinite;
}
