{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

  <head>
    {% block head %}
      {% include 'core/utils/head.html' %}
    {% endblock head %}
  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="bg-slate-800 text-gray-100 font-mono flex flex-col min-h-screen">
    {% block navbar %}
      {% include "core/utils/navbar.html" %}
    {% endblock navbar %}

    <main id="content" class="flex-grow pt-16 p-4 sm:p-6 md:p-8 lg:p-10 xl:p-20">

      {% block content %}{% endblock %}
    </main>

    {% block footer %}
      {% include "core/utils/footer.html" %}
    {% endblock footer %}

    {% block extra_scripts %}
      {# Moved to core/static/core/js #}
      <script src="{% static 'core/js/menu.js' %}"></script>
      <script src="{% static 'core/js/colorize.js' %}"></script>
    {% endblock extra_scripts %}
  </body>
</html>
