{% load i18n %}
<div class="relative inline-block" x-data="{ open: false }">
  <button @click="open = !open" class="language-button">
    {% if LANGUAGE_CODE == "es" %}
      <span class="fi fi-es"></span>
    {% else %}
      <span class="fi fi-gb"></span>
    {% endif %}
  </button>
  <div x-show="open" x-cloak @click.away="open = false"
       class="absolute right-0 z-20 mt-2 py-2 w-48 rounded shadow-lg"
       style="background: var(--bg); border: 1px solid rgba(0,0,0,0.06);">
    <a :href="window.location.pathname.replace(/^\/(en|es)\//, '/en/')"
       class="block px-4 py-2 text-sm capitalize nav-link">
      <span class="fi fi-gb"></span>
      {% translate "English" %}
    </a>
    <a :href="window.location.pathname.replace(/^\/(en|es)\//, '/es/')"
       class="block px-4 py-2 text-sm capitalize nav-link">
      <span class="fi fi-es"></span>
      {% translate "Spanish" %}
    </a>
  </div>
</div>
