{% load i18n static %}

<a href="{% url 'blog' %}"
   hx-get="{% url 'blog' %}"
   hx-target="#content"
   hx-push-url="true"
   class="nav-link {% if 'blog' in request.path %}active-link{% endif %}">
  {% translate "Blog" %}
</a>

<a href="{% url 'consultancy' %}"
   hx-get="{% url 'consultancy' %}"
   hx-target="#content"
   hx-push-url="true"
   class="nav-link {% if 'consultancy' in request.path %}active-link{% endif %}">
  {% translate "Consultancy" %}
</a>

<a href="{% url 'classes' %}"
   hx-get="{% url 'classes' %}"
   hx-target="#content"
   hx-push-url="true"
   class="nav-link {% if 'classes' in request.path %}active-link{% endif %}">
  {% translate "Classes" %}
</a>

<a href="{% url 'about' %}"
   hx-get="{% url 'about' %}"
   hx-target="#content"
   hx-push-url="true"
   class="nav-link {% if 'about' in request.path %}active-link{% endif %}">
  {% translate "About" %}
</a>

<a href="{% url 'contact' %}"
   hx-get="{% url 'contact' %}"
   hx-target="#content"
   hx-push-url="true"
   class="nav-link {% if 'contact' in request.path %}active-link{% endif %}">
  {% translate "Contact" %}
</a>

{% if user.is_superuser %}
  <a href="{% url 'admin:index' %}" class="nav-link">{% translate "Admin" %}</a>
{% endif %}

{% include 'core/utils/language_dropdown_button.html' %}
