{% load i18n static %}

<a href="{% url 'blog' %}"
   hx-get="{% url 'blog' %}"
   hx-target="#content"
   hx-push-url="true"
   class="nav-link {% if 'blog' in request.path %}active-link{% endif %}">
  {% translate "Blog" %}
</a>

<a href="{% url 'consultancy' %}"
   hx-get="{% url 'consultancy' %}"
   hx-target="#content"
   hx-push-url="true"
   class="nav-link {% if 'consultancy' in request.path %}active-link{% endif %}">
  {% translate "Consultancy" %}
</a>

<div class="nav-dropdown" x-data="{ open: false }" @mouseenter="open = true" @mouseleave="open = false" @click.away="open = false">
  <button @click="open = !open"
          class="nav-link nav-dropdown__trigger {% if 'classes' in request.path or 'mentoring' in request.path %}active-link{% endif %}"
          aria-expanded="false"
          :aria-expanded="open">
    {% translate "Teaching" %} <span class="nav-dropdown__chevron" :class="open && 'nav-dropdown__chevron--open'" aria-hidden="true">&#9662;</span>
  </button>
  <div x-show="open" x-cloak
       x-transition:enter="nav-dropdown__transition-enter"
       x-transition:enter-start="nav-dropdown__transition-enter-start"
       x-transition:enter-end="nav-dropdown__transition-enter-end"
       x-transition:leave="nav-dropdown__transition-leave"
       x-transition:leave-start="nav-dropdown__transition-leave-start"
       x-transition:leave-end="nav-dropdown__transition-leave-end"
       class="nav-dropdown__menu">
    <a href="{% url 'mentoring' %}"
       hx-get="{% url 'mentoring' %}"
       hx-target="#content"
       hx-push-url="true"
       @click="open = false"
       class="nav-dropdown__item {% if 'mentoring' in request.path %}nav-dropdown__item--active{% endif %}">
      {% translate "Mentoring" %}
    </a>
    <a href="{% url 'classes' %}"
       hx-get="{% url 'classes' %}"
       hx-target="#content"
       hx-push-url="true"
       @click="open = false"
       class="nav-dropdown__item {% if 'classes' in request.path %}nav-dropdown__item--active{% endif %}">
      {% translate "Classes" %}
    </a>
  </div>
</div>

<a href="{% url 'about' %}"
   hx-get="{% url 'about' %}"
   hx-target="#content"
   hx-push-url="true"
   class="nav-link {% if 'about' in request.path %}active-link{% endif %}">
  {% translate "About" %}
</a>

<a href="{% url 'contact' %}"
   hx-get="{% url 'contact' %}"
   hx-target="#content"
   hx-push-url="true"
   class="nav-link {% if 'contact' in request.path %}active-link{% endif %}">
  {% translate "Contact" %}
</a>

{% if user.is_superuser %}
  <a href="{% url 'admin:index' %}" class="nav-link">{% translate "Admin" %}</a>
{% endif %}

{% include 'core/utils/language_dropdown_button.html' %}
