{% load i18n static %}

<nav id="main-navbar"
     x-data="{ isMobileMenuOpen: false }"
     @click.away="isMobileMenuOpen = false"
     class="fixed z-10 top-0 w-full bg-slate-800 dracula-border shadow-lg">
  <div class="mx-auto px-4 py-2 flex justify-between items-center text-sm">
    <div class="text-lg font-bold">
      <a href="{% url 'home' %}"
         hx-get="{% url 'home' %}"
         hx-target="#content"
         hx-push-url="true"
         class="flex items-center {% if request.resolver_match.url_name == 'home' %}active-link{% endif %}">
        <span class="ml-2"><i class="fa-regular fa-lightbulb bulb-fade"></i>
          eduzen
        </span>
      </a>
    </div>

    <!-- Desktop Links -->
    <div class="hidden md:flex space-x-2">
      {% include 'core/utils/nav_links.html' %}
    </div>

    <!-- Mobile Menu Button -->
    <button class="md:hidden p-2" @click="isMobileMenuOpen = !isMobileMenuOpen">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile Links Container -->
  <div class="md:hidden bg-gray-100 p-4" x-show="isMobileMenuOpen" style="display: none;">
    {% include 'core/utils/nav_links_mobile.html' %}
  </div>
</nav>

<div id="loadingIndicator" class="h-1 w-full bg-blue-500 fixed top-0 left-0 z-50 transform scale-x-0 origin-left transition-transform duration-1500 ease-in-out"></div>
