{% load i18n static %}

<nav id="main-navbar"
     x-data="{ isMobileMenuOpen: false }"
     @click.outside="isMobileMenuOpen = false"
     class="fixed z-10 top-0 w-full">
  <div class="mx-auto px-6 py-3 flex justify-between items-center">
    <div>
      <a href="{% url 'home' %}"
         hx-get="{% url 'home' %}"
         hx-target="#content"
         hx-push-url="true"
         class="logo {% if request.resolver_match.url_name == 'home' %}active-link{% endif %}">
        eduzen
      </a>
    </div>

    <!-- Desktop Links -->
    <div class="hidden md:flex items-center gap-6">
      {% include 'core/utils/nav_links.html' %}
    </div>

    <!-- Mobile Menu Button -->
    <button class="md:hidden p-2 text-[var(--text-muted)]" @click="isMobileMenuOpen = !isMobileMenuOpen">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile Links Container -->
  <div class="md:hidden p-4 mobile-menu-bg" x-show="isMobileMenuOpen" x-cloak>
    {% include 'core/utils/nav_links_mobile.html' %}
  </div>
</nav>

<div id="loadingIndicator" class="h-1 w-full fixed top-0 left-0 z-50 transform scale-x-0 origin-left transition-transform duration-1500 ease-in-out"></div>
