{% load i18n static %}

<h1 class="text-green-400 pt-12 text-4xl text-center font-bold mb-4">
  {% translate "About me" %}
</h1>

<section class="pt-6">
  <p class="text-xl mt-4">
    {% translate "Hello World! My name is Eduardo and I'm a developer 💻." %}
    {% blocktrans with years=years_in_python %}I've been working ⛏️ with Python 🐍 for the last {{ years }} years, most of the time working as a backend developer with Django.{% endblocktrans %}
    {% translate "Currently living in" %} <s>{% translate "Buenos Aires" %}</s>, <s>{% translate "München" %}</s>, {% translate "Amsterdam" %}, {% translate "while working from home." %} 🏠
  </p>
</section>

  <!-- Toggle Long Description -->
<div x-data="{ open: false }" class="mt-8">
  <button x-on:click="open = !open" x-on:touchend.prevent="open = !open" class="text-blue-400">
    {% translate "Click to read the long version..." %}
  </button>

  <div x-show="open" class="mt-4 dracula-gray">
    <div class="flex flex-wrap items-center">
      <!-- Image Section -->
      <div class="w-full md:w-1/4 p-4 flex justify-center">
        <img
        class='max-w-sm h-48 rounded-full'
        x-data="{
          images: [
            '{% get_static_prefix %}blog/img/bio_pic_1.jpg',
            '{% get_static_prefix %}blog/img/bio_pic_2.jpg',
            '{% get_static_prefix %}blog/img/bio_pic_3.jpg',
            '{% get_static_prefix %}blog/img/bio_pic_4.jpg',
            '{% get_static_prefix %}blog/img/bio_pic_5.jpg'
          ],
          currentIndex: 0
        }"
        x-bind:src="images[currentIndex]"
        x-init="setInterval(() => { currentIndex = (currentIndex + 1) % images.length }, 3000)"
        alt="eduzen">
      </div>
      <div class="w-full md:w-3/4 p-4">
        <h2 class="text-xl font-bold text-yellow-400 mb-4">{% translate 'A bit more about me 😉, so here it goes:' %}</h2>
        <p class="text-base gray-100 text-justify leading-relaxed tracking-wide my-4 ">
          {% translate "I'm Eduardo Enriquez, aka eduzen." %}
          {% blocktranslate with years=years_of_experience %}I've been working in the IT industry for quite a long time, {{ years }} years and counting,mostly as a backend developer 💻.{% endblocktranslate %}
          {% translate "But I also have some experience working as a team leader." %}
          {% translate "Python 🐍, Django 🟩, and Flask are the main technologies 🧪 that I've been working with." %}
          {% translate "Naturally, I have some experience 💡 with other things like Javascript, Docker 🐳, Redis 🟥, RabbitMQ 🐰, Celery 🌿, and Linux 🐧." %}
        </p>
        <p class="text-base gray-100 text-justify leading-relaxed tracking-wide my-4 ">
          {% translate "You can check my code at " %}<a target="_blank" class="text-pink-400 hover:underline" href="{{global_data.github}}">{{global_data.github}}</a>.
          {% translate "There you can find some bots like the one that I have for Telegram," %}
          <a target="_blank" class="text-pink-400 hover:underline" href="https://github.com/eduzen/bot">eduzen_bot</a> 🤖
          {% translate "(you can talk to it following this link:" %}
          <a target="_blank" class="text-pink-400 hover:underline" href="https://t.me/eduzen_bot"> bot </a>.
          {% translate "Or you can find the source code of this website at" %}
          <a target="_blank" class="text-pink-400 hover:underline" href="https://github.com/eduzen/website">https://github.com/eduzen/website</a>.
        </p>
      </div>
      <div class="w-full">
        <p class="text-base gray-100 text-justify leading-relaxed tracking-wide my-4">
          {% translate "Besides computers, I like good music, books, philosophy, movies, series, and good food. I started trying some mechanical keyboards (right now using a Leo pold 75 %)! But I have also a Keychron K12." %}
        </p>
        <p class="text-base gray-100 text-justify leading-relaxed tracking-wide my-4">
          {% translate "Some people find it weird that I have a bachelor's degree in philosophy from the University of Buenos Aires 🇦🇷. But I think that rational thinking is something that my profession and studies share."%}
          {% translate "In general, philosophy has shaped my analytical thinking and fostered my curiosity. Some of my favorite philosophers are Nietzsche, Descartes, and Foucault." %}
          {% translate "Writers... many; Jorge Luis Borges, Ursula K. Le Guin, Arthur C. Clarke, and many more..." %}
        </p>
        <p class="text-base gray-100 text-justify leading-relaxed tracking-wide my-4">
          {% translate "Last but not least, I'm passionate about teaching 👨🏽‍🏫. I think my background in philosophy has helped me to be a better teacher." %}
          {% translate "I've been teaching in the past, and I'm looking forward to doing it more often in the IT field." %}
        </p>
      </div>

      <p class="text-base gray-100 text-justify leading-relaxed tracking-wide my-4 ">
        {% translate "If you want to contact me, you can do it through this " %}
        <a
          class="text-pink-400 hover:underline"
          hx-get={% url 'contact' %}
          hx-target="#content"
          href={% url 'contact' %}>
          {% translate "form" %}
        </a>
        {% translate "or through my " %}<a target="_blank" class="text-pink-400 hover:underline" href="{{global_data.linkedin}}">{% translate "LinkedIn." %}</a>
      </p>
    </div>
  </div>
</div>
