{% extends 'blog/utils/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<!-- /container -->
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h2>Búsqueda avanzada</h2>
        {% if form %}
        <p>No se han encontrado resultados.</p> </p>
        <p class="text-muted">Por favor utilice esta nueva búsqueda que buscará en el cuerpo del texto, título y copete de mis post.</p>
          {% csrf_token %}
          {% crispy form %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    {% include 'blog/extras/twitter.html' %}
    {% include 'blog/extras/zen.html' %}
    <div class="side-boxes">

      <h4 class='title-img'>Python Argentina</h4>
      <a href="http://www.python.org.ar/">
        <img src="{% static 'blog/img/logo-pyar.png' %}" alt="python-argentina" class="img-rounded center">
      </a>
    </div>

  </div>
</div>
{% endblock %}
