{% extends 'blog/base.html' %}
{% load i18n %}
{% load static %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
      <div class=".col-xs-12">

        <h1>{% translate 'clases title' %}</h1>
        <h2>{% translate 'clases copete'%})</h2>
        <p class="txt-clases">Hola! Mi nombre es Eduardo y soy docente.</p>
        <p class="txt-clases">
        Podemos ver <strong>Python</strong> en sí mismo o podemos meternos con algún framework web como <strong>Django</strong>,
        <strong>Flask</strong> o <strong>Pyramid</strong>. O también podemos meternos con algún tema no tan especifico de
        <strong>Python</strong> como puede ser <strong>programación orientada a objetos</strong>, <strong>unit tests</strong>,
        etc., pero encarado siempre con <strong>Python</strong>.
        </p>
        <p class="txt-clases">
        Si quieren ver mi cv lo pueden ver en linkedin:
        <a href="https://www.linkedin.com/in/enriquezeduardo/">https://www.linkedin.com/in/enriquezeduardo/</a>
        </p>
        <p class="txt-clases">Contactame <a href="/contacto">por aquí</a> o mandame un mail a me arroba eduzen.com.ar
        y charlamos! (también podes enviarme a eduardoaenriquez arroba gmail.com)</p>
      </div>
    </div>
    <hr/>
    <div class="row">
    <div class=".col-xs-12">
        <h1>Material online para aprender python</h1>
        <ul>
            <li>
                <a href="http://docs.python.org.ar/tutorial/3/index.html">Tutorial de Python 3.6</a>
            </li>
            <li>
                <a href="https://tutorial.djangogirls.org/es/">Tutorial de Django girls (al principio se explican cosas de python en general)</a>
            </li>
        </ul>
    </div>
    </div>
    </div>
{% endblock %}
