{% extends 'core/utils/base.html' %}
{% load partials %}

{% block content %}

{% partialdef contact-content %}
{% load crispy_forms_tags i18n static tailwind_filters %}

<div class="page-section">
  <h1 class="section-title text-center reveal">
    {% translate 'Contact' %}
  </h1>

  <form
    class="warm-form"
    hx-post="{% url 'contact' %}"
    hx-swap="innerHTML"
    hx-target="#content"
    hx-indicator="#loadingIndicator"
    hx-confirm="{% translate 'Are you sure?' %}">
    {% csrf_token %}
    {% crispy form %}
  </form>
</div>
{% endpartialdef contact-content %}

{% partial contact-content %}

{% endblock content %}
