{% load i18n %}

<div class="page-section">
  <section class="text-center">
    {% if error %}
      <p class="text-2xl pb-4 text-error">{{ error }}</p>
      <a class="warm-link" href="{% url 'contact' %}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> {% translate "Try again" %}
      </a>
    {% else %}
      <h1 class="section-title">
        {% translate 'Ups... something went wrong. 🙃' %}
      </h1>
      <p class="text-xl text-muted">
        {% translate 'Please try again later... or contact me' %}
        <a class="warm-link" href="{% url 'contact' %}"
           hx-get="{% url 'contact' %}"
           hx-target="#content"
           hx-push-url="true">
          {% translate "here" %}
        </a>
      </p>
    {% endif %}
  </section>
</div>
