{% load i18n %}

<section class="text-center">
  {% if error %}
    <p class="text-2xl text-red-500 pb-4">{{ error }}</p>
    <a class="text-pink-400 nav-link" href="{% url 'contact'%}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i> {% translate "Try again"%}
    </a>
  {% else %}
    <h1 class="text-4xl text-yellow-400 pb-4">
      {% translate 'Ups... something went wrong. 🙃' %}
    </h1>
    <p class="text-2xl text-yellow-400">
      {% translate 'Please try again later... or contact me' %}
      <a class="text-green-400 nav-link" href="{% url 'contact'%}">
        {% translate "here" %}
      </a>
    </p>
  {% endif %}
</section>
