{% extends 'blog/utils/base.html' %}

{% block body %}
<div class="row">
  <div class="col-xs-9">
    {% if tag %}
    <div class="row">
      <h3 class="text-center">{{ tag }}</h3>
    </div>
    {% endif %}
    {% include 'blog/extras/post_list.html' with posts=posts %}
  </div>
  <div class="col-xs-3">
    <div class="row">
      {% include 'blog/extras/tags_cloud.html' %}
      {% if tag == 'Python' %}
        {% include 'blog/extras/zen.html' %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
