{% extends 'blog/head.html' %} {% load static %} {% load solo_tags %} {% load crispy_forms_tags %} {% block navbar %} {% get_solo 'config.SiteConfiguration' as site_config %}

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" width="20" src="{% static 'config/img/favicon.ico' %}" class="img-responsive" alt="Responsive image">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="/#">{{ site_config.title }}</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="menu active grey">
                    <a href="/">
                        <div class="col-xs-5 menu"><img src="{% static 'blog/img/house_blue.png' %}" class="img-responsive pic-link"></div>
                        <div class="col-xs-7 menu">Home</div>
                    </a>
                </li>
                <li class="menu">
                    <a href="/bio/">
                        <div class="col-xs-5 menu"><img src="{% static 'blog/img/diskette.png' %}" class="img-responsive pic-link"></div>
                        <div class="col-xs-7 menu"> &nbsp;Bio</div>
                    </a>
                </li>
                <li class="menu">
                    <a href="/tags/python/">
                        <div class="col-xs-5 menu"><img src="{% static 'blog/img/python-orange.png' %}" class="img-responsive pic-link"></div>
                        <div class="col-xs-7 menu">Python</div>
                    </a>
                </li>
                <li class="menu">
                    <a href="/util/">
                        <div class="col-xs-5 menu"><img src="{% static 'blog/img/lamp-blue.png' %}" class="img-responsive pic-link"></div>
                        <div class="col-xs-7 menu">Utils</div>
                    </a>
                </li>
                <li class="menu">
                    <a href="/clases/">
                        <div class="col-xs-1 menu"><i class="fa fa-book" aria-hidden="true">&nbsp;</i></div>
                        <div class="col-xs-11 menu"><span class="clase"> Clases</span></div>
                    </a>
                </li>
                <li class="menu">
                    <a href="/contact/">
                        <div class="col-xs-5 menu"><img src="{% static 'blog/img/email-red.png' %}" class="img-responsive pic-link"></div>
                        <div class="col-xs-7 menu">Contacto</div>
                    </a>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                {% if search_form %} {% csrf_token %} {% crispy search_form %} {% endif %}
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>



{% endblock %}
