<div class="flex justify-center space-x-4 mt-16">
  <a href="{{linkedin}}" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-linkedin fa-2x nav-link"></i>
  </a>
  <a href="{{telegram}}" target="_blank" rel="noopener noreferrer" >
    <i class="fab fa-telegram fa-2x nav-link"></i>
  </a>
  <a href="{{github}}" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-github fa-2x nav-link"></i>
  </a>
  <a href="mailto:{{email}}" target="_blank" rel="noopener noreferrer">
    <i class="fas fa-envelope fa-2x nav-link"></i>
  </a>
</div>
