{% extends 'blog/utils/base.html' %}
{% load static %}

{% block body %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9 post_detail_body">
        {% include 'blog/extras/post.html' with post=post %}
      </div>
      <!-- SIDEBAR -->
      <div class="col-md-3">
        {% include 'blog/extras/tags.html' with tags=post.tags.all %}
        {% include 'blog/extras/related_posts.html' with posts=related_posts %}

    </div>
  </div>
</section>
{% include 'blog/extras/disqus.html' %}
{% endblock %}
