{% extends 'blog/footer.html' %}
{% load static %}

{% block body %}
    <section id="post_list">
        <div class="container">
        <h2>Post archives for {{ day }}</h2>

        <div class="row">
            <!-- POSTS LIST -->
            <div class="col-xs-8">
                {% for post in object_list %}
                    <div class="side-boxes">
                    <a href="/blog/{{ post.slug }}">
                        <h3 class="post_list_title">{{ post.title }}</h3>
                    </a>
                    </div>
                    <hr/>
                {% endfor %}
            </div>

            <p>
                {% if previous_day %}
                    Previous Day: {{ previous_day }}
                {% endif %}
                {% if previous_day and next_day %}--{% endif %}
                {% if next_day %}
                    Next Day: {{ next_day }}
                {% endif %}
            </p>
            </div>

        </div>
    </section>

{% endblock %}
