{% extends 'blog/footer.html' %}
{% load static %}

{% block body %}
    <!-- /container -->
    <div class="row">
        <div class="col-md-8">
                {% if posts %}

                  {% for post in posts %}
                      <div>
                          <div class="side-boxes titles">
                            <h6 class="date">Publicado el {{ post.published_date|date:"SHORT_DATE_FORMAT" }}</h6>
                            <h2><a href="/blog/{{ post.slug }}">{{ post.title }}</a></h2>
                          </div>
                          {% autoescape off %}
                              <p>{{ post.text|truncatechars:300  }}</p>
                          {% endautoescape %}

                      </div>
                  {% endfor %}
                {% else %}
                    <p> Empty posts </p>
                {% endif %}
        <nav aria-label="Page navigation">
            <ul class="pager">
            <li>
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}"
                    aria-label="previous"> previous</a>
                {% endif %}
            </li>
            <li>
               {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}
            </li>
          </ul>
        </nav>

        </div>
        <div class="col-md-4">
          {% include 'blog/extras/zen.html' %}
          <div class="side-boxes">
              <h4 class='title-img'>Python Argentina</h4>
              <a href="http://www.python.org.ar/">
              <img src="{% static 'blog/img/logo-pyar.png' %}" alt="python-argentina" class="img-rounded center">
              </a>
          </div>
        </div>
    </div>
{% endblock %}
