{% extends 'core/utils/base.html' %}
{% load i18n static %}

{% block content %}
<div class="page-section">
  <h2 class="section-title reveal">{% translate 'Advance Search' %}</h2>
  <div class="flex flex-col md:flex-row">
    <div class="md:w-2/3 mb-6 md:mb-0">
      {% if form %}
        <p class="text-muted">{% translate 'No results' %}</p>
        <p class="text-muted" class="mb-4">
          {% translate 'How-to-look' %}
        </p>
        {% csrf_token %}
        {{ form }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
