{% load i18n pagination_tags %}

<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page=1" class="nav-link">{% translate 'First' %}</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="nav-link">{% translate 'Previous' %}</a>
  {% endif %}

  {% windowed_page_range page_obj.paginator page_obj.number as page_items %}
  {% for num in page_items %}
    {% if num is None %}
      <span class="text-muted">…</span>
    {% elif num == page_obj.number %}
      <span class="current">{{ num }}</span>
    {% else %}
      <a href="?page={{ num }}" class="nav-link">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="nav-link">{% translate 'Next' %}</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="nav-link">{% translate 'Last' %}</a>
  {% endif %}
</div>
