{% for post in posts %}

<article class="dracula-bg p-4 rounded-lg shadow-md flex{% if forloop.counter|divisibleby:2 %} flex-row-reverse{% endif %}">
  {% if post.image %}
  <div class="w-1/5 mr-4{% if forloop.counter|divisibleby:2 %} ml-4{% endif %}"> <!-- Adjusted the width to 1/5 -->
    <img src="{{ post.image.url }}" alt="{{ post.title }} image" class="w-full h-auto" />
  </div>
  {% endif %}
  <div class="flex-1">
    <h2 class="text-xl font-bold mb-2 dracula-title">
      <a href="{{post.get_absolute_url}}" class="hover-orange">
        {{ post.title }}
      </a>
    </h2>
    <p class="mb-2 dracula-date"><time datetime="{{ post.published_date|date:"Y-m-d" }}">{{ post.published_date|date:"F j, Y" }}</time></p>
    <p class="mb-4">{{ post.pompadour }}</p>
    <div class="tags">
        {% for tag in post.tags.all %}
        <span class="bg-blue-500 text-white px-2 py-1 rounded-full text-sm mr-2 hover-bg-orange">
          <a href="/tags/{{tag|cut:" "}}" class="text-white">{{tag|cut:" " }}</a>
        </span>
        {% endfor %}
    </div>
  </div>
</article>

{% empty %}
  <p class="text-lg text-center dracula-text"> Empty posts </p>
{% endfor %}
