{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" />
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.9.2/css/flag-icons.min.css"
      integrity="sha512-DFVoL1sZ1fZ2c9zYQ2fZ1NOEnZHoKfPzll+nZ2DP6lROoWsbsAqJBpA9hc3/8G6JpRw6Rs0MIBTpQS87IftwIw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine-ie11.min.js"
      integrity="sha512-Atu8sttM7mNNMon28+GHxLdz4Xo2APm1WVHwiLW9gW4bmHpHc/E2IbXrj98SmefTmbqbUTOztKl5PDPiu0LD/A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
    </script>

    <link href="{% static 'frontend/css/base.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}">
  {% endblock head %}
</head>

<body class="dracula-bg dracula-text font-mono">
  {% block navbar %}
    {% include "frontend/navbar.html" %}
  {% endblock navbar %}

  {% block body %}
    <main class="p-4 pt-32">
        {% block content %}
          <div class="text-center">
            <p class="text-2xl font-bold mb-4">Eduardo Enriquez</p>
            <p class="text-lg font-medium mb-4">{% trans 'Software Engineer &amp; Consultancy'%}</p>
          </div>

          <blockquote class="text-white text-lg font-semibold italic text-center text-slate-900 mb-4">
            {% trans 'Based in Amsterdam, available' %}
            <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500 relative inline-block">
              <span class="relative text-white">{% trans 'everywhere!'%}</span>
            </span>
          </blockquote>
        {% endblock content %}
      </main>


    {% endblock body %}

    {% block footer %}

      {% include "frontend/personal_links.html" %}
      <script>
        document.querySelector('[data-collapse-toggle="navbar-default"]').addEventListener('click', function() {
          const navbar = document.getElementById('navbar-default');
          navbar.classList.toggle('hidden');
        });
      </script>
    {% endblock %}
</body>
</html>
