<div class="flex justify-center space-x-4 mt-4">
  <a href="{{config.linkedin}}" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-linkedin fa-2x"></i>
  </a>
  <a href="https://t.me/eduzen" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-telegram fa-2x"></i>
  </a>
  <a href="{{config.github}}" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-github fa-2x"></i>
  </a>
  <a href="mailto:{{config.email}}" target="_blank" rel="noopener noreferrer">
    <i class="fas fa-envelope fa-2x"></i>
  </a>
</div>
