{% load static i18n tz %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
  {% block head %}
    {% include 'blog/utils/head.html'%}
  {% endblock head %}
</head>

<body class="dracula-bg dracula-text font-mono">
  {% block navbar %}
    {% include "blog/utils/navbar.html" %}
  {% endblock navbar %}

  {% block body %}

    <main class="p-4 pt-20">
        {% block content %}
          <div class="text-center">
            <p class="green text-4xl font-bold mb-4 mt-10 nav-link"><a href="{% url 'about' %}">Eduardo Enriquez</a></p>
            <p class="text-xl font-medium mb-4">
              {% trans 'Software Engineer' %} &amp;
              <a class="nav-link" href="{% url 'consultancy' %}">{% trans 'Consultancy'%}</a>
            </p>
          </div>
          <blockquote class="text-white text-xl font-semibold italic text-center text-slate-900 leading-loose mb-4 mt-8">
            {% trans 'Based in Amsterdam' %}, {% trans 'available' %}
            <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500 relative inline-block">
              <span class="relative text-white">{% trans 'everywhere!'%}</span>
            </span>
          </blockquote>
        {% endblock content %}
      </main>

    {% endblock body %}

    {% block footer %}
      {% include "blog/personal_links.html" %}
      <small class="text-center block text-gray-500">© {% now "Y" %} - Made with 💜 by Eduardo Enriquez</small>

      <script>
        const button = document.getElementById("mobile-menu-button");
        const menu = document.getElementById("mobile-menu");

        button.addEventListener("click", function() {
            menu.style.display = menu.style.display === "none" ? "block" : "none";
        });
      </script>
    {% endblock %}
</body>
</html>
