{% load static i18n tz %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
  {% block head %}
    {% include 'blog/utils/head.html'%}
  {% endblock head %}
</head>

<body class="dracula-bg dracula-text font-mono flex flex-col min-h-screen">
  {% block navbar %}
    {% include "blog/utils/navbar.html" %}
  {% endblock navbar %}

  {% block body %}

    <main class="flex-grow p-4 pt-20">
      <h1 class="green text-4xl font-bold mb-4 mt-10 nav-link">{% block section_title %}{% endblock section_title %}</h1>

      {% block content %}
      {% endblock content %}

    </main>

  {% endblock body %}

  {% block footer %}
    <footer class="bg-gray-800 text-white py-4">
      <div class="container mx-auto">
        {% include "blog/personal_links.html" %}
        <small class="text-center block text-gray-500 mt-2">© {% now "Y" %} - Made with 💜 by Eduardo Enriquez</small>
      </div>
    </footer>
  {% endblock footer %}

  {% block extra_scripts %}
  {% endblock extra_scripts %}
</body>
</html>
