{% load i18n static django_htmx %}

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="{% translate 'description'%}">
<meta name="keywords" content="python">
<meta name="cf-2fa-verify" content="791afb1afc0b531">
<meta name="author" content="eduzen.ar">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'blog/img/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'blog/img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" />
<title>{% block title %}eduzen{% endblock title %}</title>
<script src="https://cdn.tailwindcss.com"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.9.2/css/flag-icons.min.css"
  integrity="sha512-DFVoL1sZ1fZ2c9zYQ2fZ1NOEnZHoKfPzll+nZ2DP6lROoWsbsAqJBpA9hc3/8G6JpRw6Rs0MIBTpQS87IftwIw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine-ie11.min.js"
  integrity="sha512-Atu8sttM7mNNMon28+GHxLdz4Xo2APm1WVHwiLW9gW4bmHpHc/E2IbXrj98SmefTmbqbUTOztKl5PDPiu0LD/A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>
<script src="{% static 'blog/js/htmx.min.1.9.4.js' %}" defer></script>
{% django_htmx_script %}

<link href="{% static 'blog/css/base.css' %}" rel="stylesheet">
<link rel="icon" href="/favicon.ico">
