{% load i18n %}

<a href="{% url 'blog' %}" class="nav-link {% if 'blog' in request.path %}active-link{% endif %}">{% translate "Blog" %}</a>
<span class="text-gray-400">·</span>
<a href="{% url 'consultancy' %}" class="nav-link {% if 'consultancy' in request.path %}active-link{% endif %}">{% translate "Consultancy" %}</a>
<span class="text-gray-400">·</span>
<a href="{% url 'classes' %}" class="nav-link {% if 'classes' in request.path %}active-link{% endif %}">{% translate "Classes" %}</a>
<span class="text-gray-400">·</span>
<a href="{% url 'about' %}" class="nav-link {% if 'about' in request.path %}active-link{% endif %}">{% translate "About" %}</a>
<span class="text-gray-400">·</span>
<a href="{% url 'contact' %}" class="nav-link {% if 'contact' in request.path %}active-link{% endif %}">{% translate "Contact" %}</a>
<span class="text-gray-400">·</span>
{% if user.is_superuser %}
  <a href="{% url 'admin:index' %}" class="nav-link {% if 'admin:index' in request.path %}active-link{% endif %}">{% translate "Admin" %}</a>
  <span class="text-gray-400">·</span>
{% endif %}

<button class="nav-link focus:outline-none" @click="open = !open">
  {% if "es" in LANGUAGE_CODE %}
    <span class="fi fi-es"></span>
  {% else %}
    <span class="fi fi-gb"></span>
  {% endif %}
</button>

<div x-show="open" class="absolute right-0 z-20 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl">
  <a href="/en" class="block px-4 py-2 text-sm text-black capitalize hover:bg-blue-500 hover:text-white">
    <span class="fi fi-gb"></span>
    {% translate "English" %}
  </a>
  <a href="/es" class="block px-4 py-2 text-sm text-black capitalize hover:bg-blue-500 hover:text-white">
    <span class="fi fi-es"></span>
    {% translate "Spanish" %}
  </a>
</div>
