{% load static i18n %}
<header class="dracula-bg p-4 dracula-border text-white fixed w-full z-10 border-black flex items-center justify-between shadow-lg">
  <a href="{% url 'home' %}" class="flex items-center">
    <span class="ml-2"><i class="fa-regular fa-lightbulb bulb-fade"></i>
      <span class="nav-link">eduzen</span>
    </span>
  </a>

  <nav class="text-sm font-light">
    <ul class="flex space-x-4">
      <li>
        <a href="{% url 'blog' %}" class="nav-link {% if 'blog' in request.path %}active-link{% endif %}">{% trans "Blog" %}</a>
      </li>
      <li>
        <a href="{% url 'consultancy' %}" class="nav-link {% if 'consultancy' in request.path %}active-link{% endif %}">{% trans "Consultancy" %}</a>
      </li>
      <li>
        <a href="{% url 'contact' %}" class="nav-link {% if 'contact' in request.path %}active-link{% endif %}">{% trans "Contact" %}</a>
      </li>
      <li>
        <a href="{% url 'about' %}" class="nav-link {% if 'about' in request.path %}active-link{% endif %}">{% trans "About" %}</a>
      </li>
      {% if user.is_superuser %}
      <li>
        <a href="{% url 'admin:index' %}" class="nav-link {% if request.path == 'admin:index' %}active-link{% endif %}">{% trans "Admin" %}</a>
      </li>
      {% endif %}

      <li class="relative" x-data="{ open: false }" @click.away="open = false">
        <button class="nav-link focus:outline-none" @click="open = !open">
          {% if LANGUAGE_CODE == "es" %}
            <span class="fi fi-es"></span>
          {% else %}
            <span class="fi fi-gb"></span>
          {% endif %}
        </button>

        <div x-show="open" class="absolute right-0 z-20 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl dracula-bg">
          <a href="/en" class="block px-4 py-2 text-sm text-black capitalize hover:bg-blue-500 hover:text-white">
            <span class="fi fi-gb"></span>
            {% trans "English" %}
          </a>
          <a href="/es" class="block px-4 py-2 text-sm text-black capitalize hover:bg-blue-500 hover:text-white">
            <span class="fi fi-es"></span>
            {% trans "Spanish" %}
          </a>
        </div>
      </li>
    </ul>

  </nav>
</header>
