{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">

  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" width="20" src="{% static 'config/img/favicon/favicon.ico' %}" class="img-responsive"
          alt="eduzen.com.ar">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="/">eduzen</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="menu active grey">
          <a href="{% url 'home' %}">
            <div class="col-xs-5 menu"><img src="{% static 'blog/img/house_blue.png' %}"
                class="img-responsive pic-link"></div>
            <div class="col-xs-7 menu">{% translate 'Home' %}</div>
          </a>
        </li>
        <li class="menu">
          <a href="{% url 'about' %}">
            <div class="col-xs-5 menu"><img src="{% static 'blog/img/diskette.png' %}" class="img-responsive pic-link">
            </div>
            <div class="col-xs-7 menu">{% translate 'About' %}</div>
          </a>
        </li>
        <li class="menu">
          <a href="{% url 'bytag' 'python' %}">
            <div class="col-xs-5 menu"><img src="{% static 'config/img/favicon.ico' %}" class="img-responsive pic-link">
            </div>
            <div class="col-xs-7 menu">Python</div>
          </a>
        </li>
        <li class="menu">
          <a href="{% url 'contact' %}">
            <div class="col-xs-5 menu"><img src="{% static 'blog/img/email-red.png' %}" class="img-responsive pic-link">
            </div>
            <div class="col-xs-7 menu">{% translate 'Contact' %}</div>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if search_form %}
          {% csrf_token %}
          {% crispy search_form %}
        {% endif %}
      </ul>

    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
