{% extends 'blog/footer.html' %}
{% load staticfiles %}

{% block body %}

    <!-- /container -->
    
    <div class="row">
        <div class="col-md-8">
                {% if posts %} 

                  {% for post in posts %}
                      <div>
                          <p>publicado el {{ post.published_date|date:"SHORT_DATE_FORMAT" }}</p>
                          <h1><a href="/blog/{{ post.slug }}">{{ post.title }}</a></h1>
                          {% autoescape off %}
                              <p>{{ post.text|linebreaksbr }}</p>
                          {% endautoescape %}
                      
                      </div>
                  {% endfor %}
                {% else %}
                    <p> Empty posts </p>
                {% endif %}
        </div>

        <div class="col-md-4">
            <p>me arroba eduzen.com.ar</p> 
        </div>
    </div>

{% endblock %}

