{% extends 'blog/footer.html' %}
{% load staticfiles %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
      <div class=".col-xs-12">

        <h1>Clases particulares de programación en Python</h1>
        <h2>(en Buenos Aires (caba) o por Skype/Hangouts)</h2>
        <p class="txt-clases">
        Hola! Mi nombre es Eduardo y soy docente de programación en la escuela media y también me dedico a dar
        <strong>clases particulares de programación</strong>.
        Las clases particulares tienen la ventaja de poder adaptar los contenidos y los tiempos al alumno. Cada tema
        puede ser revisitado cuantas veces cómo se necesite.
        </p>
        <p class="txt-clases">
        Podemos ver <strong>Python</strong> en sí mismo o podemos meternos con algún framework web como <bold>Django</bold>,
        <strong>Flask</strong> o <strong>Pyramid</strong>. O también podemos meternos con algún tema no tan especifico de
        <strong>Python</strong> como puede ser <strong>Programación orientada a objetos</strong>, <strong>unit tests</strong>,
        o lo que sea, pero encarado siempre con <strong>Python</strong>.
        </p>
        <p class="txt-clases">
        Si quieren ver mi cv lo pueden ver en linkedin:
        <a href="https://www.linkedin.com/in/enriquezeduardo/">https://www.linkedin.com/in/enriquezeduardo/</a>
        </p>
        <p class="txt-clases">Contactame <a href="/contacto">por aquí</a> o mandame un mail a me arroba eduzen.com.ar
        y charlamos!</p>
      </div>
    </div>
    </div>
{% endblock %}
