{% extends 'blog/navbar.html' %}
{% load staticfiles %}

{% block footer %}
    <footer>
        <div class="container social">
            <div class="row">

            </div>

            <h6>&copy; 2016 <a href="http://artesanoweb.com.ar">Artesano web</a></h6>

        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- JS PLUGINS -->
    <script src="{% static 'blog/js/custom.js' %}"></script>
{% endblock %}

