{% extends 'blog/navbar.html' %}
{% load staticfiles %}
{% load solo_tags %}


{% block footer %}
{% get_solo 'config.SiteConfiguration' as site_config %}

    <footer>
        <div class="container social">
            <div class="row">

            </div>

            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                       &copy; 2017 <a href="{{ site_config.home }}">Eduardo Enriquez</a>
                    </div>
                    <div class="col-md-2"></div>
                </div>              
              </div>
              <div class="col-md-4"></div>
            </div>
            <div class="row">

              <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                         <a class="btn btn-social-icon btn-linkedin" href="{{ site_config.url_linkedin }}">
                         <span class="fa fa-linkedin"></span></a>
                    </div>
                    <div class="col-md-4">
                         <a class="btn btn-social-icon btn-github" href="{{ site_config.url_github }}">
                         <span class="fa fa-github"></span></a>
                    </div>
                    <div class="col-md-4">
                         <a class="btn btn-social-icon btn-twitter"
                         href="{{ site_config.url_githubtwitter }}">
                         <span class="fa fa-twitter"></span></a>         
                    </div>
                </div>   
              </div>
              <div class="col-md-4"></div>                
            </div>

                
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- JS PLUGINS -->
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <script src="{% static 'blog/js/custom.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

