{% extends 'blog/head.html' %}
{% load staticfiles %}
{% load solo_tags %}


{% block navbar %}
  {% get_solo 'config.SiteConfiguration' as site_config %}
    
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#">{{ site_config.title }}</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active grey">
                  <a href="/">
                  <div class="col-xs-6 menu"><img src="{% static 'blog/img/house_blue.png' %}" class="img-responsive pic-link"></div>
                  <div class="col-xs-6 menu">Home</div>
                  </a>
              </li>
              <li>
                  <a href="/bio">
                  <div class="col-xs-6 menu"><img src="{% static 'blog/img/diskette.png' %}" class="img-responsive pic-link"></div>
                  <div class="col-xs-6 menu"> &nbsp;Bio</div>
                  </a>
              </li>
              <li>
                  <a href="/tags/python">
                  <div class="col-xs-6 menu"><img src="{% static 'blog/img/python-orange.png' %}" class="img-responsive pic-link"></div>
                  <div class="col-xs-6 menu">Python</div>
                  </a>
              </li>
              <li>
                  <a href="/util">
                  <div class="col-xs-6 menu"><img src="{% static 'blog/img/lamp-blue.png' %}" class="img-responsive pic-link"></div>
                  <div class="col-xs-6 menu">Utils</div>
                  </a>
              </li>
              <li>
                  <a href="/contact">
                  <div class="col-xs-6 menu"><img src="{% static 'blog/img/email-red.png' %}" class="img-responsive pic-link"></div>
                  <div class="col-xs-6 menu">Contacto</div>
                  </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a class='page-subtitle' href="./">{{ site_config.subtitle }} </a></li>
              {% if user.is_authenticated %}
                    <li><a href="#">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
              {% else %}
                    <li><a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a></li>  
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>



{% endblock %}
