{% extends 'blog/footer.html' %}
{% load staticfiles %}

{% block body %}
    <section id="post_list">
        <div class="container">

            {% for post in posts %} 
            <div class="row">
                <!-- TAGS LIST -->
                <div class="col-md-2">
                    <h4>Tags</h4>
                    <ul>
                        <li>
                        {% for tag in post.tags.all %}
                            <a href="/tags/{{ tag.word }}">{{ tag.word }}</a>
                        {% endfor %}
                        </li>
                    </ul>
                </div>

                <!-- POSTS LIST -->
                <div class="col-md-10">
                    <div class="side-boxes">
                    <a href="/blog/{{ post.slug }}">
                        <h3 class="post_list_title">{{ post.title }}</h3>
                    </a>
                    </div>
                    {% autoescape off %}
                    <p>{{ post.pompadour }}</p>
                    {% endautoescape %}
                    <hr/>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}
