{% extends "admin/base_site.html" %}
{% load dict_filters %}

{% block title %}Cache Explorer{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
.clickable-row {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.clickable-row:hover {
    background-color: var(--hover-bg-color, rgba(95, 153, 224, 0.51)); /* Light mode fallback */
}

body[data-theme='dark'] .clickable-row:hover {
    background-color: rgb(74, 77, 79); /* Dark mode hover color */
}


</style>
{% endblock extrastyle %}

{% block content %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Alias</th>
            <th>Backend</th>
            <th>Location</th>
            <th>Options</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for alias, config in cache_settings.items %}
        <tr class="clickable-row" onclick="window.location='{% url 'cache_detail' alias=alias %}'">
            <td>{{ alias }}</td>
            <td>{{ config.BACKEND }}</td>
            <td>{{ config.LOCATION|default:"N/A" }}</td>
            <td>
                <ul>
                    {% for key, value in config.items %}
                        {% if key not in "BACKEND LOCATION" %}
                            <li><strong>{{ key }}:</strong> {{ value }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td>{{ status|dict_get:alias }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
